.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #000000;
}
.navbar h2 {
  font-weight: 400;
}
.logout-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
